@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", serif;
}

.scrollbar-custom::-webkit-scrollbar {
  display: none;
}

.border-gradient-180 {
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
